[2014-07-09 14:50] tourdedave opened #1 "XML files created, but generated HTML report doesn't contain any data"
I'm using version 1.3.9 of the allure-cli tool to generate the report.

According to [the FAQ & Troubleshooting on allure-core](https://github.com/allure-framework/allure-core/wiki/FAQ-and-Troubleshooting#xml-files-are-successfully-created-during-test-run-but-no-html-report-is-then-generated) the XML schema used may be mismatched. But I'm unsure how to verify that, or how try a different version o

[2014-07-15 21:09] #1 closed, assigned to smecsia

[2014-07-17 05:48] mpahuja opened #5 "The stack trace in the report not escaping special characters like <>"
As an example this is what I see in the stack trace:

undefined method `find&apos; for #&lt;Selenium::WebDriver::Element:0x007fd5c5a302f8&gt;

./spec/helpers/common_helper.rb:540:in `delete_widget'
./spec/helpers/common_helper.rb:527:in`block in clean_up_designer'
./spec/helpers/common_helper.rb:527:in `clean_up_designer'
./spec/regression2/map_spec.rb:16:in`block (2 levels) in <top (required)>'

[2014-07-17 06:37] mpahuja opened #6 "The times reported in the reports are incorrect"
Here is the screenshot showing time in 58mins and 59 s when the actual time taken was 66 seconds
![screen shot 2014-07-16 at 11 36 13 pm](https://cloud.githubusercontent.com/assets/2895577/3609569/dda175f0-0d7c-11e4-8ad8-5b3f4644c991.png)

[2014-07-17 08:28] #6 closed, assigned to nobody

[2014-07-17 08:29] #5 closed, assigned to nobody

[2014-07-18 00:32] mpahuja opened #10 "Duplicate Entries for each spec being run"
Every time I run all the specs then I see duplicates for each of the specs
![screen shot 2014-07-17 at 5 30 48 pm](https://cloud.githubusercontent.com/assets/2895577/3621319/fae8adcc-0e12-11e4-9ba3-1d5d4f20794e.png)

[2014-07-18 18:54] mpahuja opened #13 "Incorrect Stack trace being shown in the report"
Stacktrace in the report:

[code]

Actual stacktrace that is useful as well:

[code]

In the second stacktrace you can see it tells me the actual method where it failed

[2014-07-21 13:55] maticon opened #14 "Enhancement Request: before(:step) after(:step)"
To properly get the reporting right, I'm using the step keyword inside the it blocks.  Part of our automated requirements is to update the test step status in our test case management tool (Zephyr).  Would it be possible to add before(:step) and after(:step) hooks or is that outside the scope of this tool?  Without it, I'll have to move back to using it blocks for each step.

[code]

[2014-07-21 14:33] #13 closed, assigned to nobody

[2014-07-21 14:54] #10 closed, assigned to nobody

[2014-07-24 21:27] #14 closed, assigned to nobody

[2014-08-08 15:59] shell362 opened #22 "Doesn't work with RSpec 3.0?"
Output:

Fetching gem metadata from https://rubygems.org/.......
Fetching additional metadata from https://rubygems.org/..
Resolving dependencies...
Bundler could not find compatible versions for gem "rspec":
  In Gemfile:
    allure-rspec (>= 0) ruby depends on
      rspec-steps (~> 0.1.1) ruby depends on
        rspec (< 2.14.0, >= 2.6) ruby

[code]

[2014-08-11 17:39] maticon opened #23 "parallel_tests overwriting test results"
I recently implemented the parallel_tests gem (https://github.com/grosser/parallel_tests).

I'm running 8 parallel processes which generates 8 XML files.  I was hoping that the test suites might combine in the report if the name was the same.  The bigger problem for me is that each process is overwriting the previous test result.  So, if I run 35 test cases across 8 processes, I'm only getting res

[2014-08-18 15:24] #23 closed, assigned to smecsia

[2014-08-28 21:09] crazycabo opened #26 "Using scope :example or :context instead of :each or :all causes all tests to display as failed"
This issue affects RSpec 3.0 with adaptor 0.6.1 only. If I describe a test with scope parameters :example in place of :each or :context in place of :all, the entire Allure report flags all tests as failed regardless of actual result. You need to add support for new scope parameters.

[2014-08-29 14:49] maticon opened #28 "Set Example Status as Pending/Canceled/Broken"
Is there a way to set the status of an example to Pending/Canceled/Broken? For examples that have existing bugs reported in our test management tool, I would like to set bypass running that example and set the status to Broken.

[2014-09-01 17:15] canprobablyfix opened #29 "Example Group errors"
As soon as I add:

RSpec.configure do |c|
  c.include AllureRSpec::Adaptor
end

I get:

NoMethodError: undefined method `example_group' for #RSpec::Core::Notifications::ExampleNotification:0x0000010131b2b0

I cannot figure out what I'm doing wrong here.  Any ideas?

[2014-09-01 18:48] #29 closed, assigned to nobody

[2014-09-05 13:49] #22 closed, assigned to nobody

[2014-09-06 22:26] crazycabo opened #32 "attach_file is undefined"
In v0.5.3 I can utilize 'attach_file [name], [file]' without any problems. After I just updated to v0.6.4 I continuously receive the error "undefined method 'attach_file' for..." The code I used before has not changed.

[2014-09-07 15:11] #26 closed, assigned to nobody

[2014-09-07 18:02] #32 closed, assigned to nobody

[2014-09-17 14:35] crazycabo opened #34 "Tests using fail() method display as 'Broken' instead of 'Failed'"
If I create a test method utilizing the fail() or fail '[comment]' method, when executed the results display as 'Broken' instead of an actual 'Failed" status. I'm using v0.6.4.

[2014-09-17 18:59] mpahuja opened #35 "Error when trying to re-run the tests"
This seems to be happening intermittently but in my Rake File I am re-running the failed tests and i see this error message which results in marking a false failure of my jenkins build
[code]
Please note I am use allure-rspec (0.5.3) with Rspec 2.14.1
Snippet from Gemfile.lock
[code]
Can someone please guide me if I am missing something here?

[2014-09-18 17:16] #34 closed, assigned to nobody

[2014-09-23 15:07] #28 closed, assigned to nobody

[2014-10-24 09:15] d-konovalov opened #36 "Doesn't recognize examples was run as a shared_examples"
I have a set of specs where is 256 examples total, but all of them just call through 'it_behaves_like' method, and use actually only 3 independent  'shared_examples'

So, when the report been generated using allure-cli I've got the one where said that I had only 3 test cases there
I'm able to provide more info (xml-files as well) if needed.
Thank You

[2014-10-28 10:36] d-konovalov opened #38 "attach_file doesn't work, screenshots are not attached"
hi @smecsia
in xml file where testsuite is described, there is an 'attachment' node inside the failed node 'test-case'. So it's empty. It's even without closing tag name just <attachments/> and that's all
P.S. I'm about version 0.6.6

[2014-10-28 14:19] #38 closed, assigned to nobody

[2014-10-28 14:41] d-konovalov opened #39 "[Feature] add possibility to just point :story/:feature as independent param to test suite"
I've faced that i write something like this:

[code]

If we just could to do something like this:

[code]
we would have more clear and readable code. In this case you could to get value for this from the description of example_group. Of course we need to make current behavior available as well in case of we we have different values here
What you think?

[2014-10-30 11:58] #36 closed, assigned to nobody

[2015-01-01 08:34] mpahuja commented on #35
@vania-pooh @smecsia Here is a repo that I created to be able to consistently reproduce the issue:
https://github.com/mpahuja/allure-rerun-fails There are instructions on the repo on how to use it!

Just so you are aware, I am running tests in parallel and then re-running the failed tests again in parallel.

So the issue happens when we run tests in parallel the second time and there are no suite

[2015-01-04 18:40] vania-pooh commented on #35
@mpahuja thank you for this example. Hope @smecsia will be able to review this soon because we have a big holidays set right now.

[2015-01-12 09:56] smecsia commented on #35
@mpahuja Sorry for delay, we have very long NY holidays in Russia :). I'm looking into your PR...

[2015-01-13 11:16] smecsia commented on #35
@mpahuja I wasn't able to run your example. I'm getting the following errors:
[code]
[code]
Make sure you've included all the required files.

[2015-01-13 20:39] mpahuja commented on #35
Sorry I somehow missed one folder, please pull latest! @smecsia

[2015-01-15 23:24] Rodion13 commented on #14
@smecsia Allure is super awesome. I have been using it actively!
Do you know why by any chance first case isn't working?
I was just about to implement it in my framework, but I am keep getting:

_You must explicitly give a scope (example, context, suite) or scope alias (each, all) when using symbols as metadata for a hook. (ArgumentError)_

[2015-01-18 22:14] smecsia commented on #14
@Rodion13 Thank you for your response. Could you provide a sample code which reproduces your problem? That would be very helpful.

[2015-01-19 19:47] Rodion13 commented on #14
@smecsia This can be reproduces when after(:step) or before(:step) are in spec_helper.rb
[code]

__You must explicitly give a scope (example, context, suite) or scope alias (each, all) when using symbols as metadata for a hook. (ArgumentError)__

[2015-01-19 23:26] smecsia commented on #14
@Rodion13 Huh. There's a bug for now. You cannot use step hooks from the configuration. That's because of RSpec internals that are hard to extend (current implementation of this hook is a bit hacky).
Nonetheless you can use step hooks within `describe` block.

[2015-01-20 18:08] mpahuja commented on #35
@smecsia I am still testing all the changes but seems to be working now but now I see a deprecation warning now:
The `:example_group` key in an example group's metadata hash is deprecated. Use the example group's hash directly for the computed keys and `:parent_example_group` to access the parent example group metadata instead. Called from C:/Ruby193/lib/ruby/gems/1.9.1/gems/allure-rspec-0.6.8/lib

[2015-02-04 21:25] mpahuja commented on #35
This issue seems to be resolved now. We can close this issue, will create an enhancement for getting rid of deprecation warning!

[2015-02-04 21:26] mpahuja opened #43 "Deprecation warning when using the gem"
Here is the warning that is being currently shown:

The :example_group key in an example group's metadata hash is deprecated. Use the example group's hash directly for the computed keys and :parent_example_group to access the parent example group metadata instead. Called from C:/Ruby193/lib/ruby/gems/1.9.1/gems/allure-rspec-0.6.8/lib/allure-rspec/formatter.rb:95:in `yield'.

[2015-02-04 21:28] mpahuja opened #44 "Error when using the gem with latest version of RSpec (3.2)"
Here is the error that we get with the latest version of rspec-core - 3.2.

[code]

[2015-02-05 16:50] #35 closed

[2015-02-05 17:37] smecsia commented on #44
@mpahuja It seems that RSpec guys have refactored their internal API. I will investigate this and fix as soon as I have more free time.

[2015-02-11 02:03] haridak commented on #44
I see the same error.  Tentative ETA of the fix, please?

[2015-02-11 19:31] smecsia commented on #44
@haridak I'll fix this in a day. Stay connected :)

[2015-02-12 10:29] smecsia commented on #44
@mpahuja @haridak I've just bushed `0.6.9` version of `allure-rspec` into rubygems. Please check that the problem is fixed.

[2015-02-12 10:33] smecsia commented on #39
@d-konovalov Sorry for my absence in this ticket. The fact is that I've merged this PR into the new version...
As for your feedback... I'm not sure I understand you correctly. Metadata values in RSpec are inheritable by default and this is actually the right behavior, because allure builder considers that testcases, that have `story` label must also have the `feature` label. The fact is that `:sto

[2015-02-12 10:41] d-konovalov commented on #39
@smecsia Hi, need more time to investigate. I don't remember actually. I'll write feedback later

[2015-03-28 22:40] smecsia commented on #43
Fixed in 0.6.9 release.

[2015-03-28 22:40] #43 closed

[2015-03-28 22:41] #44 closed

[2015-04-01 14:11] keigo-brook opened #46 "can't excute one-liner in model spec"
Hello, I tried to use Allure at model spec, but it doesn't work.
I found this problem is caused by one-liner spec, but I didn't fix it.

I make a user model, which has name column.
Then write a spec 'spec/models/user_spec.rb'.

[code]

run this spec, this error message is shown.

[code]

I debug the spec and found at function "stop_test", 'self.suites[suite][:tests][test]' is nil.

[code]

When th

[2015-04-01 17:53] smecsia commented on #46
Please indicate the versions of RSpec and allure-rspec you're using.

[2015-04-02 00:28] smecsia commented on #46
@keigo-brook I've noticed that you don't have an argument for `it` method in your spec. There is a bug in formatter that returns wrong value for the `full_description` of current example in this case. I will investigate this a bit later.

At the moment you can just add an argument for `it` method, for example something like the code below will fix your issue.
[code]

[2015-04-02 08:49] keigo-brook commented on #46
@smecsia Rspec v3.2.0, allure-rspec v0.6.9.  Thanks for answer. I add the argument for the spec and fix it for now.

[2015-04-13 18:29] haridak opened #48 "The screenshot are not getting added to the xml file"
I am using  Selenium WebDriver, RSpec with Allure. I see all the data in the test report, the screenshot is getting saved to the specified location but is not getting attached to the xml.
Any inputs on what could be the issue?
Version of Allure-Rspec: 0.6.8

[2015-04-14 08:16] smecsia commented on #48
@haridak can you find your attachment inside the xml files? If it is there, then please indicate the version of allure generator, you're using.

[2015-04-14 14:00] haridak commented on #48
<test-cases>
    <test-case start="1428005277416" stop="1428005307488" status="passed">
      <name>creating an object</name>
      <title>creating an object</title>
      <steps/>
      <attachments/>
      <labels>
        <label name="feature" value="objects"/>
      </labels>
      <parameters/>
    </test-case>
  </test-cases>

@smecsia Copied an except from xml file. I see attachment tag but

[2015-04-14 14:20] smecsia commented on #48
@haridak In general Allure generator - is one of the [available options](https://github.com/allure-framework/allure-core/wiki#generating-a-report).
It seems there's no attached files in the resulting xml. Can you show me how you're attaching the screenshot in your tests?

[2015-04-14 14:25] haridak commented on #48
Here is the piece of code -

c.after(:each) do |test1|
    unless test1.exception.nil?
      attach_file("screenshot",
                  @driver.save_screenshot(File.join(Dir.pwd, "results/#{UUID.new.generate}.png")))
    end
    @driver.quit
  end

[2015-04-14 15:15] smecsia commented on #48
@haridak Please note, that `attach_file` method accepts a reference to `File` object, while `save_screenshot`  returns a `string`.

[2015-04-14 18:49] haridak commented on #48
and you are awesome! thanks :+1:

[2015-04-14 18:50] #48 closed

[2015-05-14 09:13] #46 closed

[2015-05-27 14:46] eskignax opened #49 "[BUG] Hook are not trigger in the good order"
Hello !
I am facing this issue that the hook are not trigger in the good order.

spec_helper.rb
[code]

foo_spec.rb
[code]

Current result :-1:
[code]

Expected result :+1:
[code]

Can you please have a look at it ?

Thank you.

[2015-05-29 11:24] smecsia commented on #49
@eskignax Thanks, I'll look into this a bit later.

[2015-06-16 21:24] kirillzh commented on #49
Facing the same issue. Unfortunately, gem is not usable.

[2015-06-17 23:11] smecsia commented on #49
@kirillzh , @eskignax  guys, I've just pushed version 0.7.1. Could you please verify that the issue is resolved?

[2015-06-22 08:44] eskignax commented on #49
@smecsia :+1:  It's ok for me.

[2015-06-22 09:10] #49 closed

[2015-08-24 16:04] sharmarahul opened #51 "story: 'Story Name' metadata alongside feature: 'feature' shows duplicate tests"
describe 'Example', feature: 'Some feature', story: 'some_story' do
      it 'first test case' do
         #pass
      end

      it 'second test case' do
         #pass
      end

reports 4 tests in the report. If I tag each example separately then that's not the case. Is it possible to not just have example inherit the story from parent?

[2015-08-25 10:20] smecsia commented on #51
What do you mean by "reports 4 tests in the report"?
As for the metadata, it is not possible, because it is meant to be inherited from parent. This is how [RSpec metadata](https://www.relishapp.com/rspec/rspec-core/docs/metadata/user-defined-metadata) works. Why do you want to avoid this?

[2015-08-25 11:00] sharmarahul commented on #51
By 4 tests in report I mean if you configure Allure report to run on the test above it shows as 4 test cases rather than 2.

[2015-08-25 11:42] smecsia commented on #51
I cannot reproduce this. Are you sure you're generating the report with empty results directory? Also please check the property `clean_dir` in allure-rspec configuration. It should be `true`.
[code]

[2015-10-30 16:49] sharmarahul opened #54 "missing accessor for logging level"
latest release is missing ```attr_accessor :logging_level```

[2015-11-01 16:31] #54 closed

[2015-11-05 12:34] sharmarahul opened #58 "Handle multiple Rspec failures"
In RSpec 3.3 its now possible to group multiple failures using ```aggregrate_failures``` metadata. How can this be handle in allure report. It just raises ```RSpec::Expectations::MultipleExpectationsNotMetError``` and doesn't show any failures. Is there a way this can be integrated?

[2015-11-05 13:46] smecsia commented on #58
AFAIU all we need is to verify the exception type here [formatter.rb#L14](https://github.com/allure-framework/allure-rspec/blob/master/lib/allure-rspec/formatter.rb#L14) as well as `ExpectationNotMetError`.
BTW what do you mean by `doesn't show any failures`? I believe such tests should be `Broken` now, am I right?

[2015-11-05 14:37] sharmarahul commented on #58
It simply displays ```RSpec::Expectations::MultipleExpectationsNotMetError``` without listing any failures! Also, by changing the exception type, wouldn't it still show up as multiple test failures in the report or just one test failure with multiple exceptions?

[2015-11-06 22:10] timting opened #59 "Error when using rake task"
I tried putting the `config.include AllureRSpec::Adaptor` in both spec_helper.rb and rails_helper.rb. When I try to run `rspec spec\models`, it runs successfully, outputting xml data. When I try to use one of the rake tasks, i.e. `rake spec:models`, it fails with the following error:

[code]

Looking into this, it seems to be trying to load a specific formatter before RSpec::Core has been loaded.

[2015-11-06 22:35] smecsia commented on #59
@timting it seems like we should try one of the options described here: [#rspec-rails/issues/1113](https://github.com/rspec/rspec-rails/issues/1113). Can you try to add the `require "rspec/core"` within the allure-rspec formatter and verify if it helps?

[2015-11-09 20:04] timting commented on #59
@smecsia I tried that and it seems to work - I added the require statement on line 1 of lib/allure-rspec/formatter.rb

Should I file a PR, or will you take care of it?

[2015-11-09 22:23] #59 closed

[2015-11-10 18:18] timting commented on #59
@smecsia thanks for your help - much appreciated.

[2016-02-01 15:28] d-konovalov opened #60 "Are you going to support Issues and TestCaseID features from Allure-core?"

[2016-02-02 14:27] smecsia commented on #60
I've just pushed version 0.7.6 of the gem. Since now it supports `testId` and `issue` meta attributes.

[2016-02-02 15:04] d-konovalov commented on #60
super thanks for fast feedback and fix

[2016-02-02 15:04] #60 closed

[2016-02-02 15:12] d-konovalov commented on #51
Hi @smecsia I've got the same issue
look at the screenshot
http://screencast.com/t/Cxp7uGe3WH

22 - is the right number but I can see here the doubled one

[2016-02-02 16:20] smecsia commented on #51
@d-konovalov This seems to be a problem of the newer Allure report builder versions (where labels inheritance works differently). We need to discuss this once again with @baev.

[2016-02-03 16:01] MacCracken opened #62 "allure-ruby-adaptor-api 0.6.10 conflict"
Please update gemspec dependency

[2016-02-03 16:06] MacCracken commented on #62
See pull requests

[2016-02-03 23:13] #62 closed

[2016-02-04 10:01] d-konovalov opened #65 ""Clearing out unresolved specs" causes problems"
Hi guys,
Let's look at screenshot of Jenkins Job console output

![image](http://content.screencast.com/users/dmitrykonovalov/folders/Jing/media/b131c257-cdd0-4a04-bb87-4fbb6d287f95/2016-02-04_1148.png)

Here we can see Passed test suite (0 failures) and also some process started after tests finished
actually this is executing of some code from shared_for_all.rb file where I store a lot of shared_

[2016-02-04 10:19] smecsia commented on #65
@d-konovalov It seems that you have job configuration which executes some additional rspec runs... It's hard to say anything without your Jenkins job configuration.

[2016-02-04 21:01] d-konovalov commented on #65
Hi @smecsia
this is rake task which is marked as failed
http://content.screencast.com/users/dmitrykonovalov/folders/Jing/media/9c0e11ae-a556-431b-b008-735cd9be22e9/2016-02-04_1308.png

and this task include three inside:

1. Create test run (in external test management system, I call there only this system methods)
2. Run tests, this code does it:

[code]

3. Close test run (created in step 1, I c

[2016-02-04 21:24] d-konovalov commented on #65
That's strange but it was
[code]
line
when I removed it rake stopped to run twice

[2016-02-05 08:30] d-konovalov commented on #65
But this is the case only for failed jobs
If the job is passed i'm still experiencing double test run

[2016-02-05 10:28] smecsia commented on #65
Hmm. I really doubt this particular problem is related to allure-rspec directly. What if you disable allure-rspec from your setup, does it help?

[2016-02-05 10:31] smecsia commented on #51
This issue is related to [allure-core#714](https://github.com/allure-framework/allure-core/issues/714)

[2016-02-05 12:53] d-konovalov commented on #65
This was really not obvious and yes it's not allure related trouble
Thanks

[2016-02-05 12:53] #65 closed

[2016-02-05 16:17] smecsia commented on #51
@d-konovalov @sharmarahul We've just released version 1.4.22 of Allure. Please verify the problem with duplicated test cases is fixed.

[2016-02-05 16:21] sharmarahul commented on #51
@smecsia Thanks. Will take a look.

[2016-02-07 16:17] d-konovalov commented on #51
Hi @smecsia,
but what should I update to work with new version?
you've released allure-core but I don't have it even in Gemfile.lock as a dependency
and also I couldn't find any new versions for the allure jenkins plugin

So what should I do verify the problem with duplicated test cases?

[2016-02-08 11:11] smecsia commented on #51
@d-konovalov The problem is not related with the allure-rspec itself. How do you build your report? You should try the newer version of one of the [report building tools](https://github.com/allure-framework/allure-core/wiki#generating-a-report).

[2016-02-08 11:18] d-konovalov commented on #51
@smecsia
I build it with help of allure jenkins plugin

[2016-02-08 12:48] smecsia commented on #51
@d-konovalov You can specify the version of report builder in jenkins plugin configuration.

[2016-02-13 23:24] mpahuja opened #66 "Your report seems to be broken! Check out our FAQ to find a reason Message: {{error.message || error.status}}"
I am trying to debug this issue, where the report always has only this shown, I see the xml files though are correctly formatted and screenshots are also named correctly. Attached is a sample of the xml and generated report samples.
I was using an older version of the allure-rspec (0.7.1) with corresponding rspec (3.2). It was working perfectly fine but something recently started to cause it to fa

[2016-02-14 09:30] vania-pooh commented on #66
@mpahuja : http://stackoverflow.com/questions/23997449/allure-report-nothing-shown-in-chrome/24002146#24002146

[2016-02-14 09:49] mpahuja commented on #66
@vania-pooh My error is different than the one discussed at this and report does open fine for me in all browsers the same. Is it recommending that i run the tests with that flag on?

![image](https://cloud.githubusercontent.com/assets/2895577/13033040/1dd7c532-d2bd-11e5-9993-2e3bab46ee36.png)

[2016-02-14 10:10] vania-pooh commented on #66
@mpahuja see https://github.com/allure-framework/allure-core/issues/715 That's a Jenkins CSP restriction.

[2016-02-14 10:34] mpahuja commented on #66
Havent changed anything on jenkins side and also i see the same issue locally as well meaning when I run the tests locally and generate the report. So dont think its a CSP issue on jenkins side but will try that as well.

[2016-02-26 22:53] mpahuja commented on #66
Still seeing the issue even after making changes on Jenkins, Any ideas why this may be happening?

[2016-02-27 13:16] vania-pooh commented on #66
Summon @just-boris.

[2016-02-27 13:22] just-boris commented on #66
Have no idea.
@mpahuja what do you see in the browser console?

[2016-03-02 05:32] mpahuja commented on #66
Here is what I see in the browser console

@just-boris
![allureerror](https://cloud.githubusercontent.com/assets/2895577/13440337/704d3d10-dfa6-11e5-8842-930af8ab4774.png)

[2016-03-02 08:49] vania-pooh commented on #66
@mpahuja  that's a CSP issue as I said! "Allow-scripts" permission is not set.

[2016-03-02 16:41] mpahuja commented on #66
yeah sorry about the confusion, apparently saferestart of jenkins does not pick up the new configuration, had to do a hard restart and now it seems to be working. Thanks for helping here and sorry about the incovienence. BTW Allure reporting has been extremely useful for our team

[2016-03-02 17:50] #66 closed

[2016-03-07 07:06] wuhuizuo opened #67 "stack-trace is not clear:with inner rspec lib stack-trace in the head."
# Given the rspec script:

[code]
# Then got the report xml's partial content:

[code]
# But expected first stack-trace line is:

`/home/wuhuizuo/apps/vmp4-0/src/spec/zwh_spec.rb:5:in`block (2 levels) in &lt;top (required)&gt;'&#xD;`
# If use the origin rspec gem, the first line of stack-trace is the expected line:

`/home/wuhuizuo/apps/vmp4-0/src/spec/zwh_spec.rb:5:in`block (2 levels) in &lt;top

[2016-03-08 21:34] smecsia commented on #67
@wuhuizuo This is a known issue related to the RSpec feature called [backtrace_exclusion_patterns](https://www.relishapp.com/rspec/rspec-core/docs/configuration/excluding-lines-from-the-backtrace). RSpec has its own exception formatter, which excludes some backtrace lines when it displays them in console. Allure-rspec takes the original exception and just passes it to allure-ruby-adapter-api, wher

[2016-03-08 21:37] smecsia commented on #39
Outdated.

[2016-03-08 21:37] #39 closed

[2016-03-18 03:58] dw512 commented on #51
hi,I came up the same problems. When you add :feature to describe block,then the allure report reports the duplicate case numbers, but when you remove :feature from describe block, all will be ok.
I use allure-spec with the version 0.7.5, today i change it to 0.7.7,but it is the same problem,so i want to know when will this bug can be fixed?
I find that this bug had been reported long times ago,bu

[2016-03-18 09:35] smecsia commented on #51
@dw512 Have you read the discussion? The problem is not with the allure-rspec gem itself. You need to upgrade your [report build tool](https://github.com/allure-framework/allure-core/wiki#generating-a-report) to version 1.4.22.

[2016-03-18 10:16] d-konovalov commented on #51
Hi @smecsia
I'm still experiencing the issue even with 1.4.22 version chosen

![image](http://content.screencast.com/users/dmitrykonovalov/folders/Jing/media/54bfa90d-62c2-43e2-8d6f-8da0e891be8b/2016-03-18_1213.png)

btw, when both feature and story keys are used I can see 4x number of tests in Total

![one_more](http://content.screencast.com/users/dmitrykonovalov/folders/Jing/media/a1f35e4b-472f-

[2016-03-18 10:42] smecsia commented on #51
@d-konovalov Are you sure, that you're using the right version of allure report builder? You've provided the screenshot without top bar, where version is present.

[2016-03-18 10:45] d-konovalov commented on #51
@smecsia
here is bigger one

![another](http://content.screencast.com/users/dmitrykonovalov/folders/Jing/media/1509b5c3-25ce-4ec2-9bfe-edcea58883f5/2016-03-18_1244.png)

[2016-03-18 10:52] smecsia commented on #51
@d-konovalov thanks. We'll take an additional look then.

[2016-03-18 11:19] baev commented on #51
Sorry guys, my bad. Already fixed, will release ASAP

[2016-03-21 03:44] dw512 commented on #51
@smecsia  Hi,i have already update  report build tool to version 1.4.22, you can see it from the report top bar,but this can't resolve this problem.
@baev ,i want to know the reason,can you show it to us? and we all want to know when the new version can be release to resolve the problem. thanks a lot.
![image](https://cloud.githubusercontent.com/assets/12636008/13910247/fd1741f6-ef59-11e5-826b-3ed

[2016-03-21 06:55] smecsia commented on #51
@dw512 @d-konovalov [1.4.23 release](https://github.com/allure-framework/allure-core/releases/tag/allure-core-1.4.23) of allure builder has been already shipped. Please verify the problem is solved.

[2016-03-21 08:24] dw512 commented on #51
@smecsia I am downloading the version 1.4.23 now,then i will check this problem.
may i ask you a question? i see the allure-rspec example in your project, i want to know how many parameters can be attached in "describe" and " it" ,just like the following example:
![image](https://cloud.githubusercontent.com/assets/12636008/13913407/5a468e1e-ef81-11e5-99b8-47e84ec71c76.png)

[2016-03-21 09:05] dw512 commented on #51
@smecsia I am downloading the version 1.4.23 now,then i will check this problem.
may i ask you a question? i see the allure-rspec example in your project, i want to know how many parameters can be attached in describe and it ,just like the following example:

[2016-03-21 09:13] dw512 commented on #51
@sharmarahul @smecsia @d-konovalov @baev  @9ikhan  I have already verify the version 1.4.23,it works well,the problem has already fixed. Thanks a lot, @baev  and @smecsia ，good job，thanks for your efforts！
![image](https://cloud.githubusercontent.com/assets/12636008/13914264/2cf71a44-ef88-11e5-88b5-a16f90ddce30.png)

[2016-03-21 09:46] d-konovalov commented on #51
@smecsia @baev
Confirm from my side
thank you guys

[2016-03-21 11:11] smecsia commented on #51
@dw512

You can find all allowed metadata labels [here](https://github.com/allure-framework/allure-rspec/blob/master/lib/allure-rspec/formatter.rb#L11). Actually this list is just a copy of [the list built-in into allure model](https://github.com/allure-framework/allure-core/blob/master/allure-model/src/main/resources/allure.xsd#L154).

[2016-03-21 11:11] #51 closed

[2016-03-21 12:21] dw512 commented on #51
@smecsia thanks a lot, i got it.

[2016-03-23 15:01] dw512 opened #68 "how to generate environment information in allure-rspec report?"
i have already done everything to generate allure rspec report, it is very nice and cool.But I see an examplereport in : http://ci.qatools.ru/job/allure-core_master-deploy/Allure_report/.
![qq20160323-2 2x](https://cloud.githubusercontent.com/assets/12636008/13989377/0bb9731c-f14b-11e5-824b-a22c5bd79909.png)

it shows the environment information in report, but i can't be able to do it.I change the

[2016-03-24 10:16] smecsia commented on #68
@dw512 Particularly environment and allure adapter does not depend on each other. Environment is provided by the launching tool or by the report generation tool. If you use Jenkins plugin to build the Allure report, you would see the environment information in your report.

For more information see [this issue](https://github.com/allure-framework/allure-core/issues/713) in allure-core.

[2016-04-04 14:05] sharmarahul opened #69 "Duplicate failed tests are reported"
I have just upgraded to the latest allure report generator. My allure report version is now 1.4.20. After the upgrade, I see that twice the number of failed tests are being reported.

[2016-04-04 14:08] baev commented on #69
Please use v1.4.23. See https://github.com/allure-framework/allure-core/releases/tag/allure-core-1.4.23

[2016-04-04 14:08] #69 closed

[2016-04-04 14:23] sharmarahul commented on #69
@baev Do I have to update it manually? I get latest version already installed when I do this:

`sudo apt-get install allure-commandline
Reading package lists... Done
Building dependency tree
Reading state information... Done
allure-commandline is already the newest version.
0 upgraded, 0 newly installed, 0 to remove and 188 not upgraded.`

[2016-04-04 14:25] baev commented on #69
seems like we are forgot to deploy it to apt, I'll deploy it ASAP

[2016-04-04 14:26] sharmarahul commented on #69
Brilliant. Thanks

[2016-04-04 14:42] sharmarahul commented on #69
@baev I just checked on my system and strange things are being reported for allure. For example:
`sudo apt-get install --only-upgrade allure-commandline
Reading package lists... Done
Building dependency tree
Reading state information... Done
allure-commandline is already the newest version.
0 upgraded, 0 newly installed, 0 to remove and 188 not upgraded.`
displays that I have the latest already!

[2016-04-04 15:08] baev commented on #69
@sharmarahul yep, it was a bug. BTW all should be fine for now (wait a bit while it is been deployed)

[2016-04-04 15:08] baev commented on #69
thanks for the report!

[2016-04-04 15:34] baev commented on #69
@sharmarahul you can try it out

[2016-04-05 15:29] sharmarahul commented on #69
@baev works now! Thanks.

[2016-04-11 11:36] wuhuizuo opened #70 "uninitialized constant AllureRSpec::Formatter::Pathname (NameError)"
## Env:

[code]
## Test script:

[code]
## Run result:

[code]

[2016-04-15 10:43] smecsia commented on #70
@wuhuizuo I could not reproduce your problem on my local using Ruby `2.2.1`, RSpec `3.4.0`, AllureRSpec `0.7.7`. Could you provide Dockerfile, for example, to ensure the problem is not with your local setup?

[2016-06-24 04:41] ilikebundy commented on #58
Has this been completed.
I am still getting the same error as #sharmarahul
It shows as broken but gives the error RSpec::Expectations::MultipleExpectationsNotMetError

[2016-06-26 13:51] smecsia commented on #58
@ilikebundy this is still not fixed. I actually dont have enough time to solve it.
But feel free to send a PR. I'll release a new version then.

[2016-06-27 00:50] ilikebundy opened #72 "Handle multiple Rspec failures - error"
After upgrading rspec 2.14 to 3.4 - now all examples(tests) are getting this error - Same as Issue #58
In the report it shows as broken.
The error is RSpec::Expectations::MultipleExpectationsNotMetError
No stacktrace or raw available from report

[2016-06-27 08:30] #72 closed

[2016-07-08 11:12] elangovan-selvaraj opened #73 "How to add desciption in report"
We have it name  as test_case. I want to add description for the "it" block.

http://ci.qatools.ru/job/allure-core_master-deploy/lastSuccessfulBuild/Allure_report/

[2016-07-08 12:58] smecsia commented on #73
@elangovan91 It would be better if you could provide the example code, you're using.

[2016-07-08 13:16] elangovan91 commented on #73
it "testcase title is here" do |e|
     e.step "Step 1" do
     end
end

I want like this
![desctop screenshot](https://cloud.githubusercontent.com/assets/7815693/16688481/e2535502-453b-11e6-93df-5b78ba8c4989.png)

This is my output image
![screen shot 2016-07-08 at 6 44 49 pm](https://cloud.githubusercontent.com/assets/7815693/16688559/34d3d892-453c-11e6-93dd-3a16640895de.png)

[2016-07-08 13:39] elangovan91 commented on #73
In junit have the annotations for description ( @description ), But in ruby it doesn't have.

[2016-08-28 20:02] ericreeves commented on #70
It would be fantastic if we could get a new build with this fix!  😄   It's not in 0.7.7.

[2016-11-02 01:43] wuhuizuo commented on #58
I got the multiple Rspec failures too, and too litter infomation for fix the testcase.
:+1:  for this issue

[2016-11-15 00:56] schanjr commented on #70
Hi @smecsia .
I ran into the same issue with my
"ruby 2.2.3p173 (2015-08-18 revision 51636) [x64-mingw32]"

In one of your files, you're using a standard ruby library "Pathname".
https://github.com/allure-framework/allure-rspec/blob/master/lib/allure-rspec/formatter.rb#L42

 I used allure-rspec several times in the past. Today it seemed to have stopped importing that standard library which caused

[2017-02-24 18:32] dheeraj7771 commented on #68
Hi team,
i am new to allure framework, i was able to generate the report locally as well as on Jenkins using the document provided.
however i am stuck on the above issue(where i cant see any details in environment tab). i want to display the Environment (dev/qa/prod) as well as browser information on my allure report.
I was able to do that locally by adding environment.properties file and coping i

[2017-02-24 18:37] dheeraj7771 commented on #68
screen shot of local report

<img width="1431" alt="screen shot 2017-02-24 at 10 32 54 am" src="https://cloud.githubusercontent.com/assets/16159307/23315931/30158390-fa7d-11e6-9f05-7761d97c4a46.png">

[2017-02-24 19:08] baev commented on #68
@dheeraj7771 what properties do you need to include to environment? Some environment vars, your jenkins job parameters?

[2017-02-24 19:25] dheeraj7771 commented on #68
@baev if you see the above image i have "Environment" "Browser" and "URL" field in Environment(which is currently static and local).
i want to add these properties to my Jenkins report.
the above field are not set as system environment vars or Jenkins job Parameters.
they are determine by the command line argument while running the test.
"./nightwatch ---args '{"env": "dev"}' -e chrome"
these para

[2017-02-24 19:31] baev commented on #68
can you write a script that will store your environment to results folder and run it with tests?

[2017-02-24 19:47] dheeraj7771 commented on #68
if i am understanding correctly, you are asking me to generate "environment.properties" file (or similar file) while running the test and place it in allure-result dir.
where as currently i have a static file and i place it in allure-result dir after the tests are completed(which results in broken zip file on Jenkins).
is there a specific name that the generated file should have?

[2017-02-24 19:51] baev commented on #68
`environment.properties`.

That should work if you done it right. Could you please create an issue here https://github.com/jenkinsci/allure-plugin/issues/new ?

[2017-02-24 20:33] dheeraj7771 commented on #68
i have logged the issue #85

[2017-02-24 20:35] dheeraj7771 commented on #68
@baev here is the new [issue](https://github.com/jenkinsci/allure-plugin/issues/85)

[2017-02-24 20:38] dheeraj7771 commented on #68
please let me know the right steps to set environment fields.

[2017-03-01 13:19] baev opened #76 "Upgrade to new model"
https://github.com/allure-framework/allure2-model

[2017-05-15 12:02] nachiketk21 commented on #1
I am facing issues with the same code as above the details are here [http://stackoverflow.com/questions/43978493/allure-rspec-unable-to-see-any-data-in-html-report](url)

[2017-06-08 12:38] nachiketk21 commented on #58
I am still facing this issue. Any update on this !!

[2017-06-21 08:52] vnicolev opened #77 "Integrate the allure report into Rspec tests with Jenkins"
Hi folks,

I am trying to integrate the allure report into Rspec tests with Jenkins, but the Jenkins Console output keep saying:

[code]

Here's the part of the command in the execute shell:
[code]

In our Ubuntu server, I can see 'allure-results' and 'allure-report' under the root of the project, but no xml files in them.
Under 'allure-results' folder, only 'executor.json' and 'testrun.json' exis

[2017-06-21 18:33] MacCracken commented on #77
Have you tried using the Allure-Report Plugin for Jenkins, it does the last two steps as a post-build execution.

[2017-06-22 07:58] vnicolev commented on #77
Thanks for the suggestion!
Yes, I've installed Allure-Report Plugin, and after I removed the last two steps, it worked!

But the layout looks a little bit strange.

The local report:
![2017-06-22 3 48 23](https://user-images.githubusercontent.com/26741862/27422981-aed1d6d8-5762-11e7-98b2-46006e086fae.png)

The generated report on Jenkins:
![2017-06-22 3 48 54](https://user-images.githubusercontent

[2017-06-22 08:01] vnicolev commented on #77
Yes, I've installed Allure-Report Plugin, and after I removed the last two steps, it worked!
Thanks for the suggestion! 😄

[2017-07-03 14:10] etki opened #78 "Nested steps are not supported"
Currently nested steps are not possible because Ruby's Mutex doesn't allow reentrance, and every step internally is wrapped with one. You will get

if you'll try to nest steps one into another

[2017-09-28 07:08] MiluchOK opened #79 "Using alternative to testId tag"
Hi, I am in process of implementing allure in a rspec framework and I faced a problem. I already have every test tagged by a `crail_id` tag and this value is being used down the pipe in multiple places, so changing the tag name is not that easy for me.

I had a feeling that I could just add the `testId` to metadata, but it is not being picked up by the allure reports.

Could you shed some light on

[2017-09-29 12:49] smecsia commented on #79
@MiluchOK Can you please indicate which version of Allure builder you're using. allure-rspec is currently building xmls in the old Allure format (which is supported by the new version though).
I tried to reproduce your case with Allure 2.3.5, and I could not. As you can see [here](https://github.com/allure-framework/allure-rspec/blob/master/spec/another_spec.rb#L14) it is passing `:testId` as an a

[2017-10-05 20:36] MiluchOK commented on #79
@smecsia I failed to explain the problem. The problem I am facing is that I have another name for ID tags (not `:testId`) in my framework and renaming the tag is not an option due to tech. reasons. Is it possible to keep using another tag as ID, but make it possible for allure to pick it up?

[2017-10-07 02:08] smecsia commented on #79
Unfortunately it is not possible at the moment. There is a list of allowed metadata tags.

[2017-12-14 06:45] #77 closed

[2018-01-07 11:57] wangfeng199201 opened #82 "uninitialized constant AllureRSpec::Formatter::Pathname (NameError)"
[code]

rspec 3.7
allure-rspec 0.8.0

[code]
hello!I still have this problem

[2018-03-10 03:53] WoolenWang opened #83 "when will this support multi describe case?"
i have some case like:
[code]
some case like that is a multi level tree like case

when i use this allure-rspec , this kind of case is not support to generate the report.
when did we schedule to support this?

[2018-03-18 07:23] wuhuizuo commented on #76
Is there a plan to add this feature? @smecsia

[2018-04-26 08:24] AlanFoster commented on #83
I'm running into this issue too; On a code base with ~20,000 tests reported via junit, there's only 16,000 being recorded by allure.

[2018-06-19 14:19] dmcdonald-8 commented on #58
I am still getting this issue is there any movement on this bug?

[2018-08-13 16:03] aszegedi opened #84 "How can I get Test Case Body (with Log messages) on HTML Test Overview"
Hi,

**Could you help me out in this question? I'm pretty new here. So I'm not sure, may this would be a feature request or I'm just missed a major info somewhere... I'd like to use Test Case `Overview > Test Body` in Allure RSpec HTML report to show the failed test step along with the related test case.**

So I'd like to see the failed step within the test case. Unfortunately I was not able to fi

[2018-08-14 00:53] smecsia commented on #84
Hi @aszegedi please find the example of steps usage in the readme. Steps allow you to create "sub-tests" that are included into your main test case.

[2018-08-14 12:45] aszegedi commented on #84
@smecsia Thank you for your help! I was to be overlooked this part of your README.

I was able to split my test to steps and I can get it on my RSpec Allure HTML. How can I show the whole error (same as console) here? For example:
[code]
this whole information in my failed step body instead of just:
[code]
Thank you again, for your support on this!

[2018-08-31 15:02] oolkhovoy opened #85 "Pass parameters to allure report"
Hello! Is there any possibility to attach parameters to allure report like they did in this tutorial?
https://www.swtestacademy.com/allure-testng/
![image](https://user-images.githubusercontent.com/23344589/44920205-fc2eaa00-ad47-11e8-9a0a-2d7306217b83.png)

[2018-09-06 10:30] Nakilon commented on #14
I don't the whole idea of this.

[2018-10-10 11:51] AmarnathWI commented on #78
can you please let us know if there is any update on this issue

[2019-06-13 07:32] yotsubakoiwai commented on #68
@dheeraj7771 have you figured out how to set the env fields?

[2019-10-13 18:16] joby-h20 commented on #68
@dheeraj7771  has this been resolved? I'm still unable to read the environment.properties file while executing it from Jenkins

[2019-10-16 15:05] #67 closed

[2019-10-16 15:05] #70 closed

[2019-10-16 15:05] #73 closed

[2019-10-16 15:05] #76 closed

[2019-10-16 15:05] #78 closed

[2019-10-16 15:05] #79 closed

[2019-10-16 15:05] #82 closed

[2019-10-16 15:05] #83 closed

[2019-10-16 15:05] #84 closed

[2019-10-16 15:05] #85 closed